<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password email</title>
</head>
<body>
    <h1>Reestablece tu contraseña</h1>
    <p>--------------------------------</p>
    <p>Haz pedido reestablecer tu contraseña. Por favor, haz click en el link de debajo para elegir una nueva.</p>
    <a href="{{resetLink}}">Cliquea aquí para reestablecer tu contraseña</a>
    <p>Si no pediste reestablecer tu contraseña, ignora este mail.</p>
    <p>Este link funcionará solo por 2 horas</p>
</body>
</html>